{% extends 'base.html' %} 

{% block meta %}
<title>Login</title>
{% endblock meta %} 

{% block content %}
<head>
	<script>
		$(document).ready(function () {
			document.getElementById("navbar").remove();
			$("footer").remove();
		});
	</script>
</head>

<div class="w-screen h-screen flex justify-center items-center bg-ungu-muda">
	<div class="login w-[25rem] drop-shadow-2xl flex flex-col justify-center items-center bg-putih p-10 rounded-xl lg:scale-100 md:scale-90 scale-75">
		<h1 class="text-3xl font-bold mb-5">LOGIN</h1>
        <form method="POST" action="" class="mb-3 flex flex-col items-center justify-center">
			{% csrf_token %}
			<table class="font-semibold">
				<tr class="flex flex-col justify-center">
					<td>Username</td>
					<td><input class="w-56 h-10 p-3 rounded-lg" type="text" name="username" placeholder="Username" class="form-control" /></td>
				</tr>
				<tr class="flex flex-col justify-center mt-2">
					<td>Password</td>
					<td><input class="w-56 h-10 p-3 rounded-lg" type="password" name="password" placeholder="Password" class="form-control" /></td>
				</tr>
				<tr class="mt-4 flex flex-col justify-center items-center">
					<td></td>
					<td><input class="btn rounded-lg hover:cursor-pointer h-10 w-28 bg-ungu-muda text-black hover:bg-ungu-tua hover:text-white login_btn" type="submit" value="Login" /></td>
				</tr>
			</table>
		</form>
		<p>Belum mempunyai akun? <a class="underline font-bold" href="{% url 'login_register:registrasi_user' %}">Buat Akun</a></p>
	</div>
</div>

{% endblock content %}