<nav class="sticky z-50 top-0 md:px-20 px-4 py-4 bg-ungu-tua shadow-2xl md:flex md:items-center md:justify-between" id="navbar">
    <div class="flex gap-2 md:w-full justify-between">
      <a href="{% url 'landingpage:show_landingpage' %}">
      <div class="text-2xl font-bold text-[#fff] flex items-center cursor-pointer hover:text-cream-tua">
        Riviu Buku
      </div>
      </a>
      <div class="text-3xl cursor-pointer flex items-center md:hidden">
        <ion-icon name="menu" onclick="toggleMenu()" class="fill-white"></ion-icon>
      </div>
    </div>
    <div id="list-navbar"
      class="text-semibold font-medium text-white hidden md:show md:flex md:flex-row md:items-center md:justify-end">
      <div class="md:mx-5 my-3 md:my-0">
        <a href="{% url 'homepage:show_homepage' %}" class="hover:text-cream-muda hover:text-lg duration-500">Home</a>
      </div>
      <div class="md:mx-5 my-3 md:my-0">
        <a href="{% url 'album:show_album' %}" class="hover:text-cream-muda hover:text-lg duration-500">Album</a>
      </div>
      {% if user.is_authenticated %}
      <div class="md:mx-5 my-3 md:my-0">
        <a href="{% url 'myprofile:show_profile' %}" class="hover:text-cream-muda hover:text-lg  duration-500">Profile</a>
      </div>
      <div class="md:mx-5 my-3 md:my-0">
        <button class="btn rounded-lg hover:cursor-pointer bg-cream-muda text-purple-800 hover:bg-cream-tua h-9 flex items-center justify-center"><a href="{% url 'login_register:logout_user' %}">Logout</a></button>
      </div>
      {% else %}
      <div class="md:mx-5 my-3 md:my-0">
        <button class="btn rounded-lg hover:cursor-pointer bg-cream-muda text-purple-800 hover:bg-cream-tua h-9 flex items-center justify-center"><a href="{% url 'login_register:login_user' %}">Login</a></button>
      </div>
      {% endif %}  
    </div>
</nav>

<script>
    function toggleMenu() {
        var listNavbar = document.getElementById("list-navbar");
        listNavbar.classList.toggle("hidden");
    }
</script>