<nav class="sticky z-50 top-0 md:px-20 px-4 py-4 bg-ungu-tua shadow-2xl md:flex md:items-center md:justify-between" id="navbar">
    <div class="flex gap-2 md:w-full justify-between">
      <a href="{% url 'landingpage:show_landingpage' %}">
      <div class="text-2xl font-bold text-[#fff] flex items-center cursor-pointer hover:text-cream-tua">
        Riviu Buku
      </div>
      </a>
      <div class="text-3xl cursor-pointer flex items-center md:hidden">
        <ion-icon name="menu" onclick="menu(this)" class="fill-white"></ion-icon>
      </div>
    </div>
    <div id="list-navbar"
      class="text-base text-white hidden md:show md:flex md:flex-row md:items-center md:justify-end">
      <div class="md:mx-5 my-3 md:my-0">
        <a href="#" class="hover:text-cream-tua hover:text-lg duration-500">Home</a>
      </div>
      <div class="md:mx-5 my-3 md:my-0">
        <a href="#" class="hover:text-cream-tua hover:text-lg duration-500">Album</a>
      </div>
      <div class="md:mx-5 my-3 md:my-0">
        <a href="#" class="hover:text-cream-tua hover:text-lg  duration-500">Profile</a>
      </div>
      
    </div>
  </nav>