{% extends 'base.html' %}

{% block meta %}
<title>
    Review
</title>
{% endblock meta %}

{% block content %}
<body>
    <div id="book-details" class="mx-10 my-10 px-10 py-10 bg-cream-muda rounded-md shadow-2xl md:flex
    md:items-center md:justify-between">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1625673662l/57147096.jpg" width="300" height="450" class="rounded-md">        
        <h1>Sousou no frieren</h1>
    </div>
</body>
{% endblock content %}