{% extends 'base.html' %}

{% block content %}
<div class="w-screen h-screen flex justify-center items-center bg-cream-muda">
    <div class="w-[40rem] drop-shadow-2xl flex flex-col justify-center items-center bg-ungu-muda p-5 rounded-xl lg:scale-100 md:scale-90 scale-75">
        <h1 class="text-4xl text-white font-semibold mx-4 my-4 self-center text-center items-center justify-center">Add New Review</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="bg ungu-muda py-4 px-6 mb-4 rounded-md self-center text-center items-center justify-center">
                <table class =" self-center text-center items-center justify-center object-center content-center">
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Add Review" class=" font-bold bg-cream-muda text-black px-4 py-2 rounded-md cursor-pointer"/>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
{% endblock %}