{% extends 'base.html' %}

{% block meta %}
  <title>
    Home
  </title>
{% endblock meta %}

{% block content %}
  <head>
    <style>
      .image-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
        max-width: 100%;
      }
    </style>
  </head>

  <body>
    <div class="bg-putih">
      <h1 class="pt-6 pb-6 text-center text-2xl font-bold font-serif">Selamat Datang di Riviu Buku!</h1>
      
      <div id="search-container" class="pl-10">
        <input type="text" id="search-input" placeholder="Search Books by Title">
        <button onclick="searchBooks()">Search</button>
      </div>

      <div id="book_cards" class="image-container pt-6 pb-6 pr-6 pl-6 w-95 rounded-2xl"></div>
      
      <button type="button" class="btn btn-primary mb-3 ml-6" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add Favorite Book</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="form" onsubmit="return false;">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="title" class="col-form-label">Title:</label>
                  <input type="text" class="form-control" id="title" name="title"></input>
                </div>
                <div class="mb-3">
                  <label for="author" class="col-form-label">Author:</label>
                  <input type="text" class="form-control" id="author" name="author"></input>
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Book</button>
            </div>
          </div>
        </div>
      </div>  

    </div>

  </body>

  <script>
    async function getBooks() {
      return fetch("{% url 'homepage:get_books' %}").then((res) => res.json())
    }

    async function refreshBooks() {
      document.getElementById("book_cards").innerHTML = "";
      const products = await getBooks();

      let htmlString = "";
      
      products.forEach((item) => {
        htmlString = `
          <div class="card bg-cream-muda rounded-lg cursor-pointer">
            <div class="card-body flex flex-col items-center">
              <a href="/book-detail/${item.pk}">
                <img class="card-img-top w-full cursor-pointer" id="clickable-image-${item.pk}" src="${item.fields.coverImg}" alt="${item.fields.title}">
                <h5 class="card-title font-bold text-lg mt-3 text-center">${item.fields.title}</h5>
              </a>
            </div>
          </div>`;
        document.getElementById("book_cards").innerHTML += htmlString;
      });

      products.forEach((item) => {
        const reviewUrl = `/book-detail/${item.pk}`; // call it here
        const idName = `clickable-image-${item.pk}`;
        const element = document.getElementById(idName);
        element.addEventListener('click', function() {
          window.location.href = reviewUrl;
        });

      });
    }
    refreshBooks();

    function searchBooks() {
      const searchInput = document.getElementById("search-input").value.toLowerCase();

      const cards = document.getElementsByClassName("card");
      for (const card of cards) {
        const title = card.querySelector(".card-title").textContent.toLowerCase();
        if (title.includes(searchInput)) {
          card.style.display = "block";
        } else {
          card.style.display = "none";
        }
      }
    }

    function addBook() {
      fetch("{% url 'homepage:add_book_ajax' %}", {
        method: "POST",
        body: new FormData(document.querySelector('#form'))
      }).then(refreshProducts)

      document.getElementById("form").reset()
      return false
    }

    document.getElementById("button_add").onclick = addBook

  </script>
{% endblock content %}